.pull {
    width:60px;
    height:60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 20%;
    background-color: white;
}

#dropdownMenuButton {
    background-color: white;
    width:344px;
    margin: 0px 0px 15px 0px;
}

.col-sm {
    text-align: center;
    background-color: white;
    padding-top: 15px;
    /* min-height:130px !important; */
    height:130px;
}

th {
    background-color: lightpink;
}

.roll {
    background-color: pink;
    border-radius:30px;
    padding: 15px 40px 15px 40px !important;
    align-self:right;
    margin-right:40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.flexRow {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexCol {
    display:flex;
    flex-direction: column;
}

/* #banner {
    align-self:right;
    height:120px !important;
    margin-bottom:0px !important;
    padding-bottom:0px !important;
}
img[src=""] { display: none; } */

#counter {
    align-self:flex-end;
}

body {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    background-image: url("../assets/opacity40.png");
    /* background-color: pink !important; */
    vertical-align: middle;
}

table {
    margin: auto;
}
